<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Necessaire pour bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>{% block title %}{% endblock %} - Mon blog</title>
        <!-- Bootstrap -->
        <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <!-- Inclusion de la barre de navigation-->
        {% block nav %} {% include '::nav.html.twig' %} {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="//code.jquery.com/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="js/bootstrap.min.js "></script>
    </body>
</html>
